/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --bg: #dcdde1;     
  --color-icon: #535c68;  
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #0057FF;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5;  
}
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
 
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

body{
  background: #F9F4EA;
}
.container{

  border-radius: 2em;
  
}


.warpper{
  display:flex;
  flex-direction: column;
}
 
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 3px;
  background:$white;
  color:$primary;
  border-radius:10px 10px 0px 0px;
  box-shadow:0 8px 10px  #888888;
  font-family: 'Nerko One', cursive;
  border-top: 6px solid $primary;
  border-left: 6px solid $primary;
  border-right: 6px solid $primary;
}
.panels{
  background:$primary;
  box-shadow:0 8px 10px  #888888;
  min-height:200px;
  width:100%;
  border-radius:30px;
  overflow:hidden;
  padding: 48px;
  @include tab{
    padding: 24px;
  }
  @include mobile{
    padding: 24px;
  }
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.radio{
display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
background:$primary;
color:$white;
}


//通用類別

//1.卡片上標籤
.tag{
  top:-2.2rem;
  background: $cyan;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
    h4{
      font-family: 'Inter', sans-serif;
    }
}

//2.卡片樣式
.cardstyles{
  border-radius: 1rem;
  &:hover{
    box-shadow:0 6px 10px  #00000025;
    scale: (1.01);
    transition: all .3s ease-out;
  }
  @include mobile{
    border-radius: 0.5rem;
    margin-left:0;
  }
}

//3.底線動畫
.cardtitle{
  color:$gray-700;
  font-family: 'Azeret Mono';
  font-size:1.5rem;
  
}
.cardtitle::after{
  position: absolute;
  bottom: 0;
  left: 30%;
  content:'';
  width: 40% ;
  border-bottom: 4px solid $gray-700;
  animation: line 1s linear;

}
@keyframes line {
  from{width: 0;}
  to{width: 40% };
}

.title{
  h1{
    font-family: 'Nerko One', cursive;
    color: $primary;
    margin-bottom: 0;
    font-size: 64px;
    @include tab{
      font-size: 2.5rem;
    }
    @include mobile{
      font-size: 2rem;
    }
    
  }
 .typeing{
  overflow: hidden;  
  border-right: .15em solid gray;  
  white-space: nowrap;  
  margin: 0 auto;  
  letter-spacing: .1em;  
  animation: 
    typing 3s steps(9, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:    gray;  }
  
    }
}


.socialicon{
  ul{
    position: relative;
    display: flex;
    justify-content: center;
  
  }
  ul li{
    position: relative;
    list-style:none;
    //margin:0 auto;
    cursor: pointer;
  }
  ul li a {
     //margin-right: 30px;
     text-decoration: none;
      }
  ul li a .fa-brands{
    font-size: 2em;
    color: #555;
  }
  i{
    margin: 0 auto;
  }
  ul li a::before {
  
          font-family: "FontAwesome";
          position: absolute;
          font-size: 2em;
      
          height: 0;
          overflow: hidden;
          transition: 0.5s ease-in-out;
  }
  ul li:nth-child(1) a::before {
          content: "\f16d";
          color: #25D366;
          border-bottom: 3px solid #25D366;
      }
  ul li:nth-child(2) a::before {
          content: "\f232";
          color: #25D366;
          border-bottom: 3px solid #25D366;
      }
  ul li:nth-child(3) a::before {
          content: "\f099";
          color: #1DA1F2;
          border-bottom: 3px solid #1DA1F2;
      }
  ul li:hover a::before {
          height: 100%;
      }
}

.personcard{
  margin: 0 auto;
  border-radius: 1rem;
  height: 100%;
  box-shadow:0 6px 10px  #00000025;
  .profileimg{
    width: 309px;
  }
 
}
.expcard{
  height: 500px;
}
.profile{
  height: 100%;
 
  .profileicon{

    .wrapper {
      margin: 0 auto;
      list-style: none;
      .icon {
        position: relative;
        background: #ffffff;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: blue;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #ffffff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
      .list-item{
        @include mobile{
          margin-left: 15px;
        }
      }
      .item-content{
        font-family: 'Inter';
      }
      .twitter:hover,
      .twitter:hover .tooltip,
      .twitter:hover .tooltip::before {
      background: #1877F2;
      color: #ffffff;
      }
      .address:hover,
      .address:hover .tooltip,
      .address:hover .tooltip::before {
      background: $orange;
      color: #ffffff;
      }
    }

  }

 

  .hobbyicon{
 
    z-index: -10;
    .icon-list{
      width: 100%;
      max-width:50rem ;
      padding: 0 1.5rem;
    }
    .icon-effect{
      position: relative;
      display: inline-flex;
      font-size: 2rem;
      text-decoration: none;
      color:var(--color-icon);
      width: 6rem;
      height: 6rem;
      transition:.3s linear;
      z-index: 1;
      margin: auto;
      font-family: "FontAwesome";
    }
    
    .icon-effect:hover{
      color: #fff;
    }
    
    .iconn{
      margin: auto;
      font-size: 2rem;
    }
    
    .icon-effect::before{
      content:'';
      position: absolute;
      top:0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 6rem;
      height: 6rem;
      background: #000;
      border-radius:50%;
      z-index: -1;
      transform: scale(0);
      transition:0.3s ;
    }
    
    .icon-effect:hover::before {  
      transform: scale(1);
    }
    .icon-item:nth-child(1) span:hover:before { 
      background: pink; 
    }
    .icon-item:nth-child(2) span:hover:before{
      background: var(--social-icon2);
    }
    .icon-item:nth-child(3) span:hover:before{
      background: var(--social-icon3);
    }
    .icon-item:nth-child(4) span:hover:before{
      background: var(--social-icon4);
    }
    .icon-item:nth-child(5) span:hover:before{
      background: var(--social-icon5);
    }
    }
}


.skillcard {
  display: flex;
  flex-flow: row wrap;
    .single-chart {
      width: 50%;
      justify-content: space-around ;
      position: relative;
      img,i{
        position: absolute;
        top:33%;
        left:42%;
        font-size:2.5rem;
          @include tab{
            width: 32px;
            font-size: 2.3rem;
            top: 29%;
          }
          @include mobile{
            width:48px;
            top:27%;
            left:40%;
          }
        }
    
  
    }
    
    .circular-chart {
      display: block;
      margin: 10px auto;
      max-width: 80%;
      max-height: 250px;
    }
    
    .circle-bg {
      fill: none;
      stroke: #eee;
      stroke-width: 3.8;
    }
    
    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 5s ease-out forwards;
    }
    
    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }
    
    .circular-chart.orange .circle {
      stroke: #ff9f00;
    }
    
    .circular-chart.green .circle {
      stroke: #4CC790;
    }
    
    .circular-chart.blue .circle {
      stroke: #3c9ee5;
    }
    
    .percentage {
      fill: #666;
      font-family: sans-serif;
      font-size: 0.5em;
      text-anchor: middle;
    }

}

