@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Inter&family=Nerko+One&family=Noto+Sans+TC&family=Space+Mono:wght@700&display=swap");
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

body {
  background: #F9F4EA;
}

.container {
  border-radius: 2em;
}

.warpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 3px;
  background: #fff;
  color: #8BA3E1;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0 8px 10px  #888888;
          box-shadow: 0 8px 10px  #888888;
  font-family: 'Nerko One', cursive;
  border-top: 6px solid #8BA3E1;
  border-left: 6px solid #8BA3E1;
  border-right: 6px solid #8BA3E1;
}

.panels {
  background: #8BA3E1;
  -webkit-box-shadow: 0 8px 10px  #888888;
          box-shadow: 0 8px 10px  #888888;
  min-height: 200px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 48px;
}

@media (max-width: 1193px) {
  .panels {
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .panels {
    padding: 24px;
  }
}

.panel {
  display: none;
  -webkit-animation: fadein .8s;
          animation: fadein .8s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
  background: #8BA3E1;
  color: #fff;
}

.tag {
  top: -2.2rem;
  background: #C1E4E8;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-transform: uppercase;
}

.tag h4 {
  font-family: 'Inter', sans-serif;
}

.cardstyles {
  border-radius: 1rem;
}

.cardstyles:hover {
  -webkit-box-shadow: 5px 10px 10px  #00000055;
          box-shadow: 5px 10px 10px  #00000055;
}

@media (max-width: 768px) {
  .cardstyles {
    border-radius: 0.5rem;
    margin-left: 0;
  }
}

.cardtitle {
  color: #495057;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}

.cardtitle::after {
  position: absolute;
  bottom: 0;
  left: 30%;
  content: '';
  width: 40%;
  border-bottom: 3px solid #495057;
}

.inter {
  font-family: 'Inter';
}

.title {
  /* The typing effect */
  /* The typewriter cursor effect */
}

.title h1 {
  font-family: 'Nerko One', cursive;
  color: #8BA3E1;
  margin-bottom: 0;
  font-size: 64px;
}

@media (max-width: 1193px) {
  .title h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 2rem;
  }
}

.title .typeing {
  overflow: hidden;
  border-right: .15em solid gray;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  -webkit-animation: typing 3s steps(9, end), blink-caret 0.5s step-end infinite;
          animation: typing 3s steps(9, end), blink-caret 0.5s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}

.socialicon ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialicon ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
}

.socialicon .fa-brands {
  font-size: 2em;
  color: #555;
}

.socialicon .fa-solid {
  font-size: 2em;
  color: #555;
}

.socialicon i {
  margin: 0 auto;
}

.socialicon ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  font-size: 2em;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.socialicon ul li:nth-child(1) a::before {
  content: "\f1b4";
  color: #0057FF;
  border-bottom: 3px solid #0057FF;
}

.socialicon ul li:nth-child(2) a::before {
  content: "\f015";
  color: #25D366;
  border-bottom: 3px solid #25D366;
}

.socialicon ul li:nth-child(3) a::before {
  content: "\f099";
  color: #1DA1F2;
  border-bottom: 3px solid #1DA1F2;
}

.socialicon ul li:hover a::before {
  height: 100%;
}

.personcard {
  margin: 0 auto;
  border-radius: 1rem;
  height: 100%;
}

.personcard .profileimg {
  width: 80%;
}

.expcard {
  height: 100%;
  background: #fff;
  /* Outer Layer with the timeline border */
  /* Card container */
  /* Information about the timeline */
  /* Title of the card */
  /* Timeline dot  */
}

.expcard .timeline {
  margin: 20px auto;
  padding: 20px;
}

.expcard .outer {
  border-left: 6px solid #8BA3E1;
}

.expcard .cards {
  margin-left: 1.5em;
  background: #FFE3E3;
  border-radius: 14px;
}

.expcard .cards::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -25px;
  color: #FFE3E3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 32px 0;
  border-color: transparent #ffe3e3 transparent transparent;
}

.expcard .title {
  color: #6c757d;
  position: relative;
  font-family: 'inter';
}

@media (max-width: 768px) {
  .expcard .title {
    font-size: 12px;
  }
}

.expcard .cards::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 20px;
  left: -2em;
  top: 1.5em;
  border: 4px solid #8BA3E1;
}

.expcard .time {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #6c757d;
}

@media (max-width: 768px) {
  .expcard .time h3, .expcard .time h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .expcard .time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile {
  height: 100%;
}

.profile .profileicon .wrapper {
  margin: 0 auto;
  list-style: none;
}

.profile .profileicon .wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile .profileicon .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: blue;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile .profileicon .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
      -ms-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile .profileicon .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .profile .profileicon .wrapper .list-item {
    margin-left: 15px;
  }
}

.profile .profileicon .wrapper .item-content {
  font-family: 'Inter';
}

.profile .profileicon .wrapper .twitter:hover,
.profile .profileicon .wrapper .twitter:hover .tooltip,
.profile .profileicon .wrapper .twitter:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.profile .profileicon .wrapper .address:hover,
.profile .profileicon .wrapper .address:hover .tooltip,
.profile .profileicon .wrapper .address:hover .tooltip::before {
  background: #fd7e14;
  color: #ffffff;
}

.profile .hobbyicon {
  z-index: -10;
}

.profile .hobbyicon .icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
}

.profile .hobbyicon .icon-effect {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  color: #495057;
  width: 6rem;
  height: 6rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  z-index: 1;
  margin: auto;
  font-family: "FontAwesome";
}

.profile .hobbyicon .icon-effect:hover {
  color: #fff;
}

.profile .hobbyicon .iconn {
  margin: auto;
  font-size: 2rem;
}

.profile .hobbyicon .icon-effect::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.profile .hobbyicon .icon-effect:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.profile .hobbyicon .icon-item:nth-child(1) span:hover:before {
  background: #fd7e14;
}

.profile .hobbyicon .icon-item:nth-child(2) span:hover:before {
  background: #ffc107;
}

.profile .hobbyicon .icon-item:nth-child(3) span:hover:before {
  background: #05CB79;
}

.profile .hobbyicon .icon-item:nth-child(4) span:hover:before {
  background: #6610f2;
}

.profile .hobbyicon .icon-item:nth-child(5) span:hover:before {
  background: #20c997;
}

.profile .hobbyicon .icon-item:nth-child(6) span:hover:before {
  background: #6f42c1;
}

.skillcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.skillcard .single-chart {
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.skillcard .single-chart img, .skillcard .single-chart i {
  position: absolute;
  top: 33%;
  left: 42%;
  font-size: 2.5rem;
}

@media (max-width: 1193px) {
  .skillcard .single-chart img, .skillcard .single-chart i {
    width: 32px;
    font-size: 2.3rem;
    top: 29%;
  }
}

@media (max-width: 768px) {
  .skillcard .single-chart img, .skillcard .single-chart i {
    width: 48px;
    top: 27%;
    left: 40%;
  }
}

.skillcard .circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.skillcard .circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.skillcard .circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  -webkit-animation: progress 10s ease-out forwards;
          animation: progress 10s ease-out forwards;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

.skillcard .fa-html5 {
  color: #F75421;
}

.skillcard .fa-js {
  color: #EFD81D;
}

.skillcard .fa-figma {
  color: #6f42c1;
}

.skillcard .circular-chart.orange .circle {
  stroke: #F75421;
}

.skillcard .circular-chart.jscolor .circle {
  stroke: #EFD81D;
}

.skillcard .circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.skillcard .circular-chart.figmacolor .circle {
  stroke: #6f42c1;
}

.skillcard .percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/*# sourceMappingURL=all.css.map */
